#header {
  width: 100%;
  height: var(--headerHeight);
  background-color: var(--darkBrown);
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px black;
  z-index: 5;
}

#headingWrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  column-gap: 10px;
  padding-left: var(--paddingLeft);
  width: fit-content;
}

#headingWrapper:hover {
  filter: invert(79%) sepia(17%) saturate(687%) hue-rotate(332deg) brightness(94%) contrast(91%);
}

#githubIcon {
  width: var(--headingSize);
  height: var(--headingSize);
}

#heading {
  font-size: var(--headingSize);
  white-space: nowrap;
  text-decoration: underline;
}