:root {
  --paddingLeft: 10px;
  --darkBrown: #7D5A50;
  --brown: #B4846C;
  --orange: #E5B299;
  --lightBrown: #FCDEC0;
  --headingSize: 2rem;
  --headerHeight: calc(var(--headingSize) + 1rem + 44.88px);
  /* add margin of h1 */
  --levelPicWidth: 30vw;
  --levelTextSize: 1.5rem;
  --characterImageSize: 80px;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

/* pages */
#header~div {
  margin-top: var(--headerHeight);
  min-height: 100vh;
}

h1 {
  font-family: 'Oswald', sans-serif;
}